################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
[Ff]or[Tt]he[Ff]isherman[/\][Oo]bj[/\]
[Ff]or[Tt]he[Ff]isherman[/\][Bb]in[/\]
packages/
.nuget/