################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
ForTheFisherman/obj/
ForTheFisherman/bin/
packages/