input[type="radio"] {
    width: auto;
}

.editor-field.radio label {
    font-weight: normal;
    display: inline;
    margin-right: 20px;
}

.temp-inner {
    border-radius: 10px;
}

    .temp-inner:hover {
        opacity: 0.6;
    }
