@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This application is made for a fun-loving fisherman. We know you love fishing, but why should the fun end there? With this app you can steal a minute every now and then to check your scores and be reminded of the fun times you had on your fishing trips. 
    </p>

    <p>
        The app is great for keeping track of your catches throughout the fishing year. There is a possibility to add information about catches by different means so you can keep your casting, trolling, net and winterfishing results separate. You can view and update your records. The fun never ends!
    </p>

    <ol class="round">
          
    <li class="one">
        <h5>No hidden costs!</h5>
        The application comes free to anyone, so the fun is not limited on our part. Get started right away!
    </li>

    <li class="two">
        <h5>All your favourite fishing methods already available </h5>
         Keeping track of casting, trolling, net and winter fishing all at your fingertips. 

    </li>
            <li class="three">
        <h5>Fish for fun!</h5>
         Not a pro yet? No worries, this application is simple and easy enough to use even if you are just getting started. 

    </li>
</ol>

</article>

<aside>
    <h3>How this project came to be</h3>
    <p>
       This project is developed as part of E-business application development course at Haaga-Helia University of Applied Sciences. The aim of the project was to get a hands-on experience with ASP.NET MVC. The topic of fishing was chosen at gunpoint. 
    </p>
 
    <ul>
        <li> <a href="http://www.haaga-helia.fi/fi/opinto-opas/opintojaksokuvaukset/ITP1TF013?ssl-out-redirect=1">Course information</a></li>
        <li> <a href="http://www.haaga-helia.fi/en/frontpage">More on HAAGA-HELIA</a></li>
    </ul>
</aside>