@{
  ViewBag.Title = "Home";
}

@*      commented that weird header.
      will keep it here just in case.. //MK

@section featured {
  <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
  </section>
}*@


    @if (!Request.IsAuthenticated) {
<center><h1>Welcome to Fisherman's Diary! Let us take care of your fishing.</h1></center>
        <center><h1>Most popular Finnish fishing methods:</h1></center>
<ol class="round">
    <li>
    <h5>Casting</h5>
    <div class="text-wrap temp-outer">
      <img class="temp-inner" src="../../Images/icon-fly.png" />
    </div>
    Casting (usually from land, but also possible from boat or standing in the water) means throwing a lure that imitates a fish, some 15-30 meters away and then reeling it back in so that it swims like a fish
    <div class="clear-fix"></div>
    <h5>Trolling</h5>
    <div class="text-wrap temp-outer">
      <img class="temp-inner" src="../../Images/icon-trolling.png" />
    </div>
    You use the same equipment as in Casting, but you fix the fishing rod at the end of the boat and either row or use small motor to move the boat so that the lure "swims" following the boat.
    <div class="clear-fix"></div>
  </li>
  <li>
    <h5>Fly Fishing</h5>
    <div class="text-wrap temp-outer">
      <img class="temp-inner" src="../../Images/icon-fly.png" />
    </div>
    You typically do this standing in the water (river, stream). Typical is the back, forward, back, forward movement of the visible fishing line before finally releasing the throw. The lure is called perho in finnish, maybe moth or small butterfly in English. 
    <div class="clear-fix"></div>
  </li>
  <li>
    <h5>Winter Fishing</h5>
    <div class="text-wrap  temp-outer">
      <img class="temp-inner" src="../../Images/icon-ice.png" />
    </div>
    You take a big ice drill, walk to the lake or sea ice, drill a hole through the ice and sit down to fish by moving the lure up and down. There are two kinds of lures
    <div class="clear-fix"></div>
  </li>

  <li>
    <h5>Net Fishing</h5>
    <div class="text-wrap temp-outer">
      <img class="temp-inner" src="../../Images/icon-net.png" />
    </div>
    You put a long, usually straight net with weights (verkon paino) at the bottom and floaters at the top (verkon koho).
They make the net stay in place and upright. Fish will try to swim through it but based on the size of the net mesh and naturally fish neck they might get stuck. After one day or even night/morning after you row again to the net and take all the net to the boat and pickup the fish fixed to the net.
    <div class="clear-fix"></div>
  </li>
</ol>
    }
    else
    {
@*      <ol class="round">
        <li class="one">@Html.ActionLink("Add location", "Create", "LocationMarking", new { returnToHomePage = true }, new { @class = "clear-fix" })</li>
        <li class="two">@Html.ActionLink("Add lure", "Create", "Lure", new { returnToHomePage = true }, new { @class = "clear-fix" })</li>
        <!-- we dont need fish species here. they can be added in catch!-->
        <li class="three"><a class="clear-fix" href="~/FishingSession/">START your Session!</a></li>
      </ol>*@
      <h1>Welcome!</h1>
      <h4>Start keeping track of catches from here by following three easy steps</h4>
      
      
      <ul class="dashboard">
        <li class="dashboard-item">
          <a href="/LocationMarking/Create?returnToHomePage=True">
            <div class="dashboard-description">
              <h2>Add Location</h2>
              <p>to keep in mind favourite ones</p>
            </div>
            <span class="step-number">1</span>
          </a>
        </li>
        <li class="dashboard-item">
          <a href="/Lure/Create?returnToHomePage=True">
            <div class="dashboard-description">
              <h2>Add Lure</h2>
              <p>list new lures you used</p>
            </div>
            <span class="step-number">2</span>
          </a>
        </li>
        <li class="dashboard-item">
          <a href="/FishingSession/Create/">
            <div class="dashboard-description">
              <h2>Start Session!</h2>
              <p>and have fun!</p>
            </div>
            <span class="step-number">3</span>
          </a>
        </li>
      </ul>
    }

