@{
  ViewBag.Title = "Home Page";
}

@*      commented that weird header.
      will keep it here just in case.. //MK

@section featured {
  <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
  </section>
}*@

<h1>Fishing methods</h1>
<ol class="round">
  <li class="one">
    <h5>Casting</h5>
    Pollock Razorback sucker sandfish Redfin perch gray mullet gombessa inconnu temperate ocean-bass. Clown loach golden shiner Red whalefish Japanese eel elephantnose fish sprat slender mola. Chum salmon ground shark rock cod, ziege grouper basslet hoki. Pacific salmon, "striped bass rocket danio stoneroller minnow golden shiner ghost knifefish brook lamprey eel ponyfish icefish rough sculpin." 
      <br />
    <a href="http://tunaipsum.com/">Tuna ipsum :)</a>
  </li>

  <li class="two">
    <h5>Fly Fishing</h5>
    Koi, pompano black dragonfish píntano wolf-eel searobin North American freshwater catfish snubnose parasitic eel ribbon sawtail fish chain pickerel lionfish hammerhead shark. Southern smelt southern flounder scaly dragonfish danio. Rockling triplespine orbicular batfish golden shiner fusilier fish? Ronquil viperfish rudderfish, yellow-edged moray; mosshead warbonnet bobtail snipe eel. North American freshwater catfish handfish hoki Redfin perch tenpounder oceanic whitetip shark summer flounder.
    <br />
    <a href="http://tunaipsum.com/">Tuna ipsum :)</a>
  </li>

  <li class="three">
    <h5>Winter Fishing</h5>
    Squawfish clown triggerfish Blind shark airsac catfish North American freshwater catfish slender snipe eel! African glass catfish treefish stream catfish horn shark giant sea bass longnose chimaera lyretail wasp fish! Knifefish delta smelt lyretail delta smelt tommy ruff Quillfish rockfish, false brotula livebearer medaka angler Rio Grande perch. Cod upside-down catfish dogfish mud minnow dory bent-tooth sábalo golden loach bigeye squaretail. Dojo loach bramble shark bighead carp canary rockfish, yellowfin pike lookdown catfish luminous hake.
    <br />
    <a href="http://tunaipsum.com/">Tuna ipsum :)</a>
  </li>

  <li class="four">
    <h5>Net Fishing</h5>
    Pomfret thornyhead blackchin, crocodile shark brown trout priapumfish Pacific saury crappie spadefish anchovy kahawai razorfish yellow weaver mrigal deep sea bonefish forehead brooder stingfish paddlefish, parrotfish handfish Japanese eel. Mullet elephant fish combtooth blenny European minnow pearl danio kaluga Pacific herring tapetail European minnow boarfish. Manta Ray; channel bass cowfish rudd flabby whalefish spotted danio; emperor megamouth shark Rainbow trout false trevally. 
    <br />
    <a href="http://tunaipsum.com/">Tuna ipsum :)</a>
  </li>
</ol>
